@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLING */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

main {
  background-image: radial-gradient(circle, #ffffff 0%, #f2f7f8 100%);
}
